@charset "utf-8";
/* CSS Document */


*{
	padding:0px;
	margin: 0px;
}

body{
	background-color: #000000;
}

#big{
	background-color: #13b2c0;
	width: 980px;
	height: 1450px;
	margin: 0 auto;
}

#title{
	background-color: #075a8e;
	width: 100%;
	height: 70px;
	text-align: center;
}

#fongTitle{
	font-size: 50px;
	color: aliceblue;
	display: block;
	
}

#mid{
	width: 980px;
	height: 300px;
}

#me{
	background: url(../Image/My.jpg);
	background-size: 400px 400px;
	width: 400px;
	height: 400px;
	border: 20px double #D9D5D5;
	display:inline-block;
	margin: 50px;
}

#never{
	width: 300px;
	height: 300px;
	background-image: url(../Image/tubiao.jpg);
	background-size: 300px 300px;
	display:inline-block;
	margin: 0 0;
}

#mamba{
	background-color: #075a8e;
	width: 980px;
	height: 700px;
	margin: 40px auto;
}

#blackDiv{
	margin: 40px auto;
}

#black{
	font-size: 60px;
	color: aliceblue;
	font-weight: bolder;
	display: inline-block;
	margin: 40px 50px;
}

#kebe{
	font-size: 40px;
	color: aliceblue;
	font-weight: bolder;
	display: inline-block;
	margin: 0 0 0 50px;
	
}

#jingDiv{
	width: 700px;
	height: auto;
	margin: 10px auto;
}

#jing{
	display: inline-block;
	font-size: 20px;
	color: aliceblue;
	text-indent: 2em;
	
}

#bot{
	text-align: center;
}

#botfont{
	font-size: 30px;
	color:aliceblue;
	font-weight: bolder;
	
}