@charset "utf-8";
/* CSS Document */


body{
	background-color: aquamarine;
}
.head{
	width: 100%;
	height: 100px;
	background-color: #000000;
	line-height: 100px;
	text-align: center;
}
.head h1{
	color: aliceblue;
}



.big{
	width: 980px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	
}
.big table{
	margin: 10px 0 0 40%;
}
.big tr{
	margin: 20px;
}

.bottom{
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #000000;
}
.bottom p{
	color: aliceblue;
}